<mat-card class="movie-card mat-elevation-z10">
  <div>
    <mat-card-header>
        <mat-card-title fxLayout.xs="column" > <h2 fxFlexFill>{{movie.title}}</h2></mat-card-title>
    </mat-card-header>
    <div fxFlexFill fxLayout.xs="column" fxLayout="row">
          <img mat-card-image class = "poster"  [src]="movie.posterLink" alt="{{movie.title}}">
  </div>
    <mat-card-content>
        <mat-list class="movieInfo">
          <mat-list-item>Title: {{movie.title}}</mat-list-item>
          <mat-list-item>Release date: {{movie.year}}</mat-list-item>
          <mat-list-item>IMDB Id: {{movie.imdbID}}</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button id="favoriteButton" class="mat-raised-button" (click)="favoriteMovie(movie.id)">
            Favorite
          </button>
    </mat-card-actions>
</div>
</mat-card>
<router-outlet></router-outlet>
