.navbar {
  position: absolute  ;
  justify-content: space-between;
}
button{
  margin-right: 1rem;
}
button:hover{
  background-color: purple;
}
span{
  padding: 1rem;
  padding-block-end: 1rem;
}

.gridDiv{
   display: flex;
   flex-flow: row wrap;
   position: relative;
}
.poster{
  padding: 2px;
  height: 60%;
}
.mat-display-2 h2
 {
  background-color: purple;
  padding: 12px;
  display: block;
  border: 2px solid;
  width: fit-content;
  text-align: center;
  word-wrap: normal;
  align-content: center;

 }

 .searchClass {
  display: flex;
  flex-direction: column;
 }
.searchBar
{
  width: 440px;
}

.mat-card {
  flex: 0 1 calc(20% - 8px);
  height: 640px;
  width: 320px;
  margin-bottom: 3%;
}
