<div fxFlexFill fxLayout="column">

<mat-toolbar color="primary" class="navbar">
  <div> MovieWatcher </div>
  <div class="searchClass">
    <mat-form-field class="searchBar">
     <input matInput type="text" placeholder="" [(ngModel)]="movieTitle" (keydown.enter)= "search($movieTitle)">
      <button mat-button *ngIf="movieTitle" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    </div>
  <div>
    <button mat-raised-button color="accent">Search</button>
    <button mat-raised-button color="accent">Favorites</button>
    <button mat-raised-button color="accent">About</button>
  </div>
</mat-toolbar>

<div fxLayout="column" class="mat-display-3">
  <mat-row>MovieWatcher</mat-row>
</div>
<div class = "gridDiv" xLayout="column"  fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" >
    <mat-card *ngFor="let movie of movieList" class="movie-card mat-elevation-z10">
      <div>
      <mat-card class="movie-card">
        <mat-card-header>
            <mat-card-title fxLayout.xs="column" > <span fxFlexFill>{{movie.title}}</span></mat-card-title>
        </mat-card-header>
        <div fxFlexFill fxLayout.xs="column" fxLayout="row">
          <ng-container *ngIf="movie.posterLink != ''; then thenTemplate; else elseTemplate"></ng-container>
          <ng-template #thenTemplate>
              <img mat-card-image class = "poster"  [src]="movie.posterLink" alt="{{movie.title}}">
          </ng-template>
          <ng-template #elseTemplate>

              <img mat-card-image class = "poster"  src="../../assets/thomaz.jpg" alt="No poster image">
          </ng-template>


      </div>
        <mat-card-content>
            <p>{{movie.title}}</p>
        </mat-card-content>
        <mat-card-actions  fxLayout.xs="column" class="movie-actions">
            <button mat-button class="mat-raised-button mat-primary" (click)="goToMovie(movie.id)">
                VIEW MOVIE
            </button>
            <mat-icon fxal>star</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>
<mat-paginator
 [length]="movieCount"
 [pageSize]="10"
 (page)= "pageEvent = onPageEvent($event)">
</mat-paginator>
</div>
<router-outlet></router-outlet>


