.navbar {
  position: relative;
  justify-content: space-between;
}
button{
  margin-right: 1rem;
}
span{
  padding: 1rem;
  padding-block-end: 1rem;
}

.gridDiv{
   display: flex;
   flex-flow: row wrap;
   position: relative;
}
.poster{
  height: 30%;
  width: 20%;
}
.mat-display-3
 {
   position: relative;
   top: 6em;
   left: 15em;
   margin-top: -180px; /* Half the height */
   margin-left: -200px; /* Half the width */
 }

 .searchClass {
  display: flex;
  flex-direction: column;
 }
.searchBar
{
  width: 440px;
}

.movieCard {
  flex: 0 1 calc(20% - 8px);
  margin-bottom: 18%;

}
