<mat-card class="movie-card mat-elevation-z10">
  <div>
    <mat-card-header>
        <mat-card-title fxLayout.xs="column" > <h2 fxFlexFill>Aldan de Andrade</h2></mat-card-title>
    </mat-card-header>
    <div fxFlexFill fxLayout.xs="column" fxLayout="row">
          <img mat-card-image class = "aldant"  src="../../assets/aldant.jpg" alt="Autor photo">
  </div>
    <mat-card-content>
        <p>That page was made as a project to learn angular/springboot. </p>
    </mat-card-content>
</div>
</mat-card>
<router-outlet></router-outlet>
